*.elc
backups
el-get
url
places
auto-save-list
.smex-items
tramp
/elpa
/ido.last
/recentf
/ac-comphist.dat
ensime
/.python-environments
.lsp-session*
straight/build
straight/repos
straight/build-cache.el
eshell
transient
/projectile.cache
/projectile-bookmarks.eld
/.cache/
/straight/modified/
/ido.last~
/recentf~
